<li id="item"  class="p-2 group/item rounded-md h-fit border hover:bg-slate-100 flex flex-row justify-between space-x-16">
  <img id="itemPhoto"  class="rounded-md object-cover h-28 w-32" src="src/public/ressource/image/1086048702.avif" alt="itemsds">
  <div class="font-semibold flex-1 "> 
      <a id="itemName" href="/item" onclick="router()">Ti 83 Premium</a>
      <p>Valeur estimer à <span id="itemWorth">40€</span></p>
      <p id="ItemState" class="text-green-600">Fonctionne encore</p>
  <p>Publié le <span id="ItemPublisherDate"></span> 2 Septembre 2023 par <a class="text-blue-400"  id="Account" href="\account?idAccount=33" onclick="route()"> Pierre </a></p>
      <div class="flex items-center space-x-1 hover:bg-gray-50">
          <div id="ItemLocation"  class="">Residence Jean medecin</div>
          <i class="fa-solid fa-location-dot"></i>
      </div>
  </div>
  <!--  -->
  <div class="p-2 group/edit flex flex-col justify-between invisible hover:bg-transparent group-hover/item:visible" >
      <i id="iconStar" class="rounded-md fa-regular fa-star p-2  hover:bg-yellow-400"></i>
  </div>
</li>