<form id="recover" class="fixed inset-x-1/2 w-1/2 h-fit  bottom-20 rounded-md shadow-md p-2 border bg-white z-50 left-1/4">
    <h2 class="border-b-2 text-center font-semibold  " id="itemName"> Calculatrice </h2>
    
    <p>Publié par : <span id="ItemPublisher" class="font-semibold">Aaron Djibi</span></p>
    <p>Date de publication : <span id="publishedDate" class="font-semibold">14 janvier 2023</span></p>
    <p id="Residence" class="font-semibold">Residence Jean Medecin</p>
    <p for="">Disponible depuis à l'accueil depuis le : <span id="publishedDate" >15 janvier 2023</span> </p>
    <div class="flex flex-col py-2">
        <label for="Message">Manifestes ton souhait</label>
        <textarea name="" id="Message" class="p-2 text-start rounded-md border w-full"  cols="30"  rows="10">
            Bonjour,

            Je suis intéressé(e) par ton annonce.
            Laisse moi te débarrasser.

            Je remercie par avance de ta générosité!✨😉
        
        </textarea>
    </div>
    <div class="flex flex-row w-full justify-end space-x-4">
        <button id="cancel" class="p-2 rounded-md hover:bg-red-600">Annuler</button>
        <button id="" type="submit"  class="p-2 rounded-md hover:bg-green-600">Envoyer</button>
    </div>
</form>
