<li id="item"  class="p-2 group/item rounded-md h-fit border hover:bg-slate-100 flex flex-row justify-between space-x-16">
    <img id="itemPhoto"  class="rounded-md object-cover h-28 w-32" src="src/public/ressource/image/1086048702.avif" alt="itemsds">
    <div class="font-semibold flex-1 "> 
        <div class="flex flex-row items-center justify-between">
            <a id="itemName" href="/item" onclick="route()">Ti 83 Premium</a>
            <div class="flex flex-row items-center space-x-2">
                <p id="statut">En attente de validation</p>
                <i id="statut" class="rounded-full fa-regular fa-circle bg-yellow-300"></i>
            </div>
        </div>
        <p>Valeur estimer à <span id="itemWorth">40€</span></p>
        <p id="itemState" class="text-green-600">Fonctionne encore</p>
        <p>Publié le <span id="itemPublisherDate"></span> 2 Septembre 2023 par <a class="text-blue-400"  id="account" href="\account" onclick="route()"> Pierre </a></p>
        <div class="flex items-center space-x-1 hover:bg-gray-50">
            <div id="itemLocation"  class="">Residence Jean medecin</div>
            <i class="fa-solid fa-location-dot"></i>
        </div>
    </div>
    <!--  -->
</li>