<div class="relative flex flex-col justify-center">
    <!-- Breve presentation de l'application -->
    <div class="size-full border">
        <h2 class="text-center font-bold">Bienvenu sur le site etudiant de la revolution solidaire</h2>
    </div>
    <div class ="basis-3/4 shadow-md rounded-md p-6 border text-justify font-semibold">
        <p>EduCycle est une application web qui permet de donner et de recevoir des fournitures scolaires entre étudiants. Que vous ayez besoin de cahiers, de stylos, de livres ou de matériel informatique, vous pouvez trouver ce qu'il vous faut sur EduCycle. Vous pouvez aussi faire un geste solidaire en offrant vos fournitures dont vous n'avez plus l'usage à d'autres étudiants qui en ont besoin. EduCycle est une plateforme simple, rapide et sécurisée qui vous met en relation avec les membres de votre communauté éducative. Rejoignez EduCycle et participez à une économie circulaire et responsable !</p>
    </div>
    <!-- La gride contenant les repetitions -->
    <div class=""></div>
    <div class="overflow-visible px-4 shadow grid xl:grid-cols-4 gap-2 min-h-screen ">
        <div  w3-include-html="Component/card.html" class="cursor-pointer hover:shadow-md"></div>
        <div  w3-include-html="Component/card.html" class="cursor-pointer hover:shadow-md"></div>
        <div  w3-include-html="Component/card.html" class="cursor-pointer hover:shadow-md"></div>
        <div  w3-include-html="Component/card.html" class="cursor-pointer hover:shadow-md"></div>
        <div  w3-include-html="Component/card.html" class="cursor-pointer hover:shadow-md"></div>
        <div  w3-include-html="Component/card.html" class="cursor-pointer hover:shadow-md"></div>
        <div  w3-include-html="Component/card.html" class="cursor-pointer hover:shadow-md"></div>
        <div  w3-include-html="Component/card.html" class="cursor-pointer hover:shadow-md"></div>
        <div  w3-include-html="Component/card.html" class="cursor-pointer hover:shadow-md"></div>
    </div>
    <div class="fixed rounded-full bg-sky-300 m-auto bottom-20 left-[70%] transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110" >
        <button class="">
            <svg xmlns="http://www.w3.org/2000/svg" class="size-80" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg> 
            <!-- <p></p>Deposer une annonce -->
        </button>
    </div>
</div>