<section class="relative size-full h-screen">
    <div id="item"  class="p-2 w-full basis-1/4 border font-semibold text-center">Vous etes sur dans la page Item</div>
    <!--  -->
    <div class="overflow-x-scroll h-2/5 py-2 border">
        <div id="flexImage" class="size-full flex flex-row space-x-2">
            <img class="rounded border" src="src\public\ressource\image\calco.jpg" alt="">
            <img class="rounded border" src="src\public\ressource\image\R.png" alt="">
            <img class="rounded border" src="src\public\ressource\image\R.png" alt="">
            <img class="rounded border" src="src\public\ressource\image\R.png" alt="">
            <img class="rounded border" src="src\public\ressource\image\R.png" alt="">
        </div>
    </div>
    <div class="p-3 h-fit flex flex-col  items-stretch border"> 
        <div  id="labelName" class="w-full py-1 font-semibold border-b-2 flex flex-row items-center justify-between">
            <p>Calculatrice ti 83 Premium<p>
            <i class="rounded-md fa-regular fa-star p-2  hover:bg-yellow-400"></i>
        </div>
        <div class="">Id Item :  <span>51</span></div>
        <div   class="">Categorie  :  <span id="labelCategorie"> Scientifique </span></div>
        <div   class="">Etat : <span id="labelEtat">Etat correct</span></div>
        <div class="">Valeur estimée :  <span id="labelValue">80€</span> </div>
        <div class="">Date publication  :  <span id="labelSince">20 Janvier 2023</span> </div> 
        <label  >Description</label>
        <p class="text-justify" id="textDesc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo veniam, minima minus nostrum est possimus ratione molestias debitis magni facilis! Dolore laudantium et adipisci magni blanditiis ad commodi mollitia aperiam.</p>
    </div>
    <div class="h-28 p-2 flex flex-row justify-between">
        <div class="flex flex-col justify-start">
            <a href="\account" class="font-semibold">Jean Luc Parpin</a>
            <a href="#" class="flex flex-row items-center space-x-1" >
                Residence Jean Medecin
                <i class="fa-solid fa-map-pin"></i>
            </a>
            <p>Membre depuis <span class="font-semibold"> 2 Septembre 2023</span></p>
        </div>
        <img class="w-20 h-20 rounded-full object-cover" src="src\public\ressource\image\pexels-rodolfo-clix-1615776.jpg" alt="publisher">
    </div>
    <form class="invisible hidden w-fit h-fit rounded-md shadow-md p-2 absolute border bg-white z-50 top-10 left-1/4">
        <h2 class="border-b-2 text-center font-semibold  " id="itemName"> Calculatrice </h2>
        
        <p>Publié par : <span id="ItemPublisher" class="font-semibold">Aaron Djibi</span></p>
        <p>Date de publication : <span id="publishedDate" class="font-semibold">14 janvier 2023</span></p>
        <p id="Residence" class="font-semibold">Residence Jean Medecin</p>
        <p for="">Disponible depuis à l'accueil depuis le : <span id="publishedDate" >15 janvier 2023</span> </p>
        <div class="flex flex-col py-2">
            <label for="Message">Manifestes ton souhait</label>
            <textarea name="" id="Message" class="p-2 text-start rounded-md border w-full"  cols="30"  rows="10">
                Bonjour,

                Je suis intéressé(e) par ton annonce.
                Laisse moi te débarrasser.

                Je remercie par avance de ta générosité!✨😉
            
            </textarea>
        </div>
        <div class="flex flex-row w-full justify-end space-x-4">
            <button type="submit" class="p-2 rounded-md hover:bg-red-600">Annuler</button>
            <button type="reset"   class="p-2 rounded-md hover:bg-green-600">Envoyer</button>
        </div>
    </form>
  
    <a href="/don" class="fixed bottom-10 p-2 rounded-md inset-x-1/4 bg-sky-300 flex flex-row justify-center space-x-2 transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110 items-center ">
        <i class="fa-solid fa-circle-plus"></i>
        <div> Recuperer la fourniture </div>
    </a>
</section>