<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>login</title>
        <script  type="module" src="/src/controller/login.js" defer></script>
        <link href="/src/output.css" rel="stylesheet">
</head>
<body>
  <!-- component --><!-- component -->
  <section class="container mx-auto">
     <div class="overflow-visible p-8 rounded">
         <form>
            <label for="login">login</label><br>
            <input type="email" autocomplete="username" name="email" id="email"><br>

            <label for="password">password</label><br>
            <input type="password" autocomplete="current-password" name="password" id="password"><br>

            <button id="submit">se connexter</button>
         </form>
     </div>
  </section>
</body>
</html>